[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Go modules related to OCI (Open Container Initiative) registries
[access "refs/*"]
	owner = group user/CUE porcuepine (porcuepine)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/CUE porcuepine (porcuepine)
	label-Verified = -1..+1 group user/CUE porcuepine (porcuepine)
	push = group user/CUE porcuepine (porcuepine)
	read = group user/CUE porcuepine (porcuepine)
	rebase = group user/CUE porcuepine (porcuepine)
	removeReviewer = group user/CUE porcuepine (porcuepine)
	submit = group user/CUE porcuepine (porcuepine)
[access "refs/heads/*"]
	create = group user/CUE porcuepine (porcuepine)
	push = +force group user/CUE porcuepine (porcuepine)
	pushMerge = group user/CUE porcuepine (porcuepine)
	read = group user/CUE porcuepine (porcuepine)
[access "refs/tags/*"]
	push = group user/CUE porcuepine (porcuepine)
	push = +force group user/CUE porcuepine (porcuepine)
